body {
    overflow: hidden;
}
/* MODALS */
.ruleModal {
    background-image: url('./assets/rule-book_opt2.svg');
    height: 2em;
    width: 2em;
    position: fixed;
    margin: .5em;
    right: .2em;
    top: .1em;
    z-index: 2;
}

.modalLists {
    margin-left: .5em;
    height: 3.25em;
    width: 3.25em;
}

#linkedICON {
    background-image: url('./assets/linkedin.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#githubICON {
    background-image: url('./assets/github.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}
#instagramICON {
    background-image: url('./assets/instagram.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ROLL STATUS */
.jumbotron {
    top: 0;
    width: cover;
    text-align: center;
    margin: .25em;
}

#totalRoll {
    height: 10vh;
}

/* PLAYER COUNT/STATS */
.statBox {
    margin: auto 0;
}

.statTable {
    margin-top: .5em;
    padding: .5em;
}

#showTable {
    visibility: hidden;
    /* display: none; */
}
/* THIS IS TO CHANGE RANKING DISPLAY */
.playersSet {}
#p1Row {}
#p2Row {}
#p3Row {}
#p4Row {}
#p1 {}
#p2 {}
#p3 {}
#p4 {}

/* DICE TRAY */
.navSetting {
    position: fixed;
    bottom: 0;
    margin-top: .25em;
    z-index: 1;
    width: 100vw;
    padding: 1em;
}

.rolled {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    border: 1px solid black;
}

.diceSize {
    height: 4em;
    width: 4em;
}

#cupRoll {
    visibility: hidden;
    background-image: url('./assets/d6Random-white.svg');
    height: 5em;
    width: 5em;
}

/* #d6One {
    background-image: url('./assets/1d6-1.svg');
}
#d6Two {
    background-image: url('./assets/1d6-2.svg');
}
#d6Three {
    background-image: url('./assets/1d6-3.svg');
}
#d6Four {
    background-image: url('./assets/1d6-4.svg');
}
#d6Five {
    background-image: url('./assets/1d6-5.svg');
} */


.rolledD1 {
    background-image: url('./assets/1d6-1.svg') ;
}
.rolledD2 {
    background-image: url('./assets/1d6-2.svg') ;
}
.rolledD3 {
    background-image: url('./assets/1d6-3.svg') ;
}
.rolledD4 {
    background-image: url('./assets/1d6-4.svg') ;
}
.rolledD5 {
    background-image: url('./assets/1d6-5.svg') ;
}
.rolledD6 {
    background-image: url('./assets/1d6-6.svg') ;
}

